.slider {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  height: 34vw;
  position: relative;
  overflow: hidden;
}
.slider__slide {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vw;
  max-height: 600px;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0;
}
.slider__slide__text {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
}
.slider__slide__text a,
.slider__slide__text a:link {
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
  padding: 20px;
  display: block;
}
.slider__slide__text a:hover,
.slider__slide__text a:link:hover {
  background: rgba(20, 20, 20, 0.4);
  color: #c8c8c8;
}
.slider__slide[data-active="true"] {
  transform: scale(1);
  z-index: 100;
  opacity: 1;
}
.slider__next,
.slider__previous {
  transition: all 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  z-index: 200;
  position: absolute;
}
.slider__next:hover,
.slider__previous:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}
.slider__next {
  bottom: 20px;
  right: 20px;
}
.slider__previous {
  bottom: 20px;
  left: 20px;
}

@media screen and (min-width: 1400px) {
  .slider__previous,
  .slider__next {
    bottom: 48px;
  }
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 100%;
    height: 48vw;
  }
  .container {
    width: 100%;
  }
  .mobile {
    display: none;
  }
}
